table
				{
					
					border:0px solid red; 
					margin-left:80px;
					margin-top:26px;
                    padding:50px;
                    width: 80%;
                    }
                     th, td {
                        border: 1px solid black;
                        padding: 5px;
                     }